<html>
<head>
	<title>[Anfrage] Catering</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFCC99">
<p>Eine Anfrage aus dem Bereich [<strong>Catering</strong>] wurde eingereicht.<br>Dem Formular wurden folgende Daten übergeben.</p>
<table bgcolor="#F4A460" border="1" bordercolor="#000000" cellpadding="3">
<tr>
	<th align="left" colspan="2">Kontaktdaten</th>
</tr>
<tr>
    <td>Name</td>
    <td>$anrede $name</td>
</tr>
<tr>
    <td>Telefon</td>
    <td>$telefon</td>
</tr>
<tr>
    <td>eMail</td>
    <td>$email</td>
</tr>
<tr>
	<th align="left" colspan="2">Daten zur Veranstaltung</th>
</tr>
<tr>
    <td>Datum</td>
    <td>$datum</td>
</tr>
<tr>
    <td>Ort</td>
    <td>$ort</td>
</tr>
<tr>
    <td>Anzahl Personen</td>
    <td>$anzahl</td>
</tr>
<tr>
	<td>Bemerkungen</td>
	<td>$bedarf</td>
</tr>
</table>
</body>
</html>
