<html>
<head>
	<title>[Anfrage] Rückrufservice</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<p>Eine Anfrage aus dem Bereich [<strong>Rückrufservice</strong>] wurde eingereicht.<br>Dem Formular wurden folgende Daten übergeben.</p>
		<table border="1" cellpadding="3" cellspacing="1">
			<tr>
				<th align="left" colspan="2">Kontaktdaten</th>
			</tr>
			<tr>
				<td></td>
				<td>$person</td>
			</tr>
			<tr>
				<td>Kunden-Nr.</td>
				<td>$client_id</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>$last_name</td>
			</tr>
			<tr>
				<td>Vorname</td>
				<td>$first_name</td>
			</tr>
			<tr>
				<td>Firma</td>
				<td>$company</td>
			</tr>
			<tr>
				<td>E-Mail-Adresse</td>
				<td>$email</td>
			</tr>
			<tr>
				<td>Telefon</td>
				<td>$phone</td>
			</tr>
			<tr>
				<td>Rückruftermin</td>
				<td>$date</td>
			</tr>
			<tr>
				<td>Zeitraum</td>
				<td>$timeslot</td>
			</tr>
			<tr>
				<td>Thema</td>
				<td>$message</td>
			</tr>
		</table>
	</body>
</html>
